
:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: #252d37;
    --very-dark-blue: hsl(216, 12%, 8%);
}

body{
    font-family: Overpass, sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    background: var(--dark-blue);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    padding: 24px;
    border-radius: 18px;
    height: 40vh;
    width: 45vh;
}

.icon img{
    border: 1px solid var(--medium-grey);
    border-radius: 50%;
    padding: 10px;
    margin: 20px auto 20px 10px;
}

.title{
    font-weight: 700;
    font-size: 28px;
    margin: 10px auto;
}

.text{
    color: var(--light-grey);
    font-size: 18px;
}

.rating{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.numeral{
    font-weight: 1px;
    color: var(--light-grey);
    border: 1px solid rgb(71, 70, 70);
    border-radius: 50%;
    padding: 20px;
}

.submit-butt{
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--orange);
    border-radius: 22px;
    background-color: var(--orange);
    padding: 12px;
}


